:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --secondary-text-color: #ffffff;
    --accent-color: #2196F3;
    --background-color: #2f303a;
    --background-color-2:#f5f4fa ;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --header-logo-color: #000000;
    --title-portfolio:#F5F5F5;
    --line-portfolio:#ECECEC;
}
.page{
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family:"Roboto",sans-serif;
}
.container{
width: 1200px;
margin: 0 auto;
align-items: center;
}


a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a{
    margin: 0;
}
img{
    display: block;
}
section{
    padding-top: 95px;
}
.page-header{
height: 80px;
display: flex;
 justify-content: center;
  align-items: center;
border-bottom: 1px solid #eeee;

}
.navigation-main-nav{
 display: flex;
justify-content: center;
}

.site-nav,
.site-info{
    display: flex;
    align-items: center;
  
}
.site-nav,
.site-info{
 grid-column-gap: 50px;
}

.site-info{
    margin-left: auto;
}


/* header */


.nav-logo{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--accent-color);
    
}
.nav-logo-stydio{
font-family: 'Raleway';
font-size: 26px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-right: 93px;
color:var(--title-text-color);
}

.site-studio2{font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color);}

.site-studio{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--accent-color);

}
.site-studio:hover,
.site-studio:focus{
    color:var(--header-logo-color);
}
.site-nav-cont2{
    font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--accent-color);

}
.site-nav-cont{ 
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--title-text-color);
}
.site-nav-cont:hover,
.site-nav-cont:focus{
    color:var(--accent-color);
}
.site-nav-cont1{ 
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--title-text-color);
}
.site-nav-cont1:hover,
.site-nav-cont1:focus{
    color: var(--accent-color);
}
.site-info{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-logo-color);
}
.site-info:hover,
.site-info:focus{
    color: var(--accent-color);
}
.site-tel{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}.site-tel:hover,
.site-tel:focus{
    color: var(--accent-color);
}
/* Ефективні рішення для вашого бізнесу */
.herou{
 background-color: var(--background-color);
text-align: center;
padding: 200px 0;
}
.herou-title{
    width: 696px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

letter-spacing: 0.06em;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;

color:var(--background-color-2);
}
.herou-button{
    border-radius: 4px;
    font-family: 'Roboto' ,sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;

text-align: center;
letter-spacing: 0.06em;
background-color: var(--accent-color);
cursor: pointer;
border: transparent;
padding: 10px 30px;

color:var(--background-color-2);
}
.herou-button:hover,
.herou-button:focus{
    color:var(--header-logo-color)
}
/* деталі */
.details{
   flex-wrap: wrap;
   padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.details-list{
    display: flex;
    justify-content: space-around;

   
}
.details-item {
    margin-right: 30px;
}
.detals-item:not(:last-child){
    margin-right: 30px;
}

.attention{
font-family: 'Roboto',sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color:var(--title-text-color);
margin-bottom: 10px;
}
.attention-title{
    max-width: 270px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.work{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.section-work{
    font-family: 'Roboto',sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;

color:var(--title-text-color);

}
.work-title{
    margin-right: 30px;
}
.work-title:last-child{
    margin-right: 0px;
}

.work-img {
    display: flex;
    justify-content:space-around;
    padding-bottom: 94px;
   }


.group{
    background-color:var(--background-color-2) ;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.group-title{
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;


color: var(--title-text-color);

}
.group-list{
    display: flex;
    justify-content:space-between;
    padding-bottom: 95px;


}


.group-title-img{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color:var(--secondary-text-color);
    margin-right: 30px;
}
.group-title-img:last-child{
    margin-right: 0px;
}
.group-info{
    margin-top: 30px;
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
margin-bottom: 10px;

}
.position{
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color:var(--primary-text-color);
margin-bottom: 30px;
}

.footer-container{
    
    display: block;
    padding-top: 60px;
    padding-left: 15px;
background-color: #2F303A;
}

.footer-logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color:var(--accent-color);

}
.footer-logo-studio{
    color:var(--secondary-text-color);
    
}
.footer-list2{
    margin-bottom: 20px;
}
.footer-item1{
    
}

.adress{
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
margin-top: 20px;

color:var(--secondary-text-color);
}
.adress:hover,
.adress:focus{
    color: var(--accent-color);
}
.footer-mailto{
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-mailto:hover,
.footer-mailto:focus{
    color: var(--accent-color);
}
.footer-tel{
    padding-bottom: 60px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus{
    color: var(--accent-color);
}
/* portfolio */
.services {
    
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.services-li{
    margin-right: 8px;
}
.services-li:not(first-child){
    margin-left: 0px;
}

.services-button{
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--title-text-color);
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color:var(--header-logo-color);
cursor: pointer;
background-color:var(--secondary-text-color);
border: transparent;

}


.services-button:hover,
.services-button:focus{
background-color: var(--accent-color);
color: var(--secondary-text-color);
}

/* img */
.progect{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  padding-top: 0px;


    background: #ffffff;
}
.progect-cont{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
    padding-bottom: 94px;
    }
    

.progect-elem{
    width: 370px;
 margin-right: 30px;
    margin-bottom: 30px;
    outline: 1px solid #eeee;
     border: var(--primary-text-color);
}
.progect-elem:nth-child(3n){
    margin-right: 0;
}
.progect-elem:nth-last-child(-n+3){
margin-bottom:0px;}
.progect-item{ 
    padding: 20px  24px;}
   


.progect-info{
    margin-bottom: 4px;
    font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color:var(--title-text-color);
}
.progect-position{

    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;

}